.pagination {
    padding: 3px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: black;
}

.active {
    padding: 3px 5px;
    border: 2px solid #4886c6;
}

.pages {

    padding: 3px 5px;

}

.previous {
    padding: 5px;
    color: black;
}

.previous:focus {
    padding: 5px;
    outline: none
}

.next {
    padding: 10px;
    color: black;
}

.break-me {
    width: 25px;
    display: flex;
    justify-content: space-around;

}